

/*==Mixins==*/

@mixin font-roboto {
	font-family: 'Roboto', sans-serif;
}

@mixin font-opensans {
	font-family: 'Open Sans', sans-serif;
}

@mixin font-inter {
	font-family: 'Inter', sans-serif;
}


//==COMMON==//

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height:130%;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #000000;
	min-width: 1920px;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.one{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
}

.two{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 500;
}

.three{
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 500;
}