/*==Mixins==*/

@mixin font-roboto {
	font-family: 'Roboto', sans-serif;
}

@mixin font-opensans {
	font-family: 'Open Sans', sans-serif;
}

@mixin font-inter {
	font-family: 'Inter', sans-serif;
}

$red: #D13B3B;



//==COMMON==//

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 130%;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #000000;
	min-width: 1920px;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.header {
	padding-top: 20px;

	&-logo {
		margin-top: 10px;
	}

	&-wrapper {
		display: flex;
		margin: 0 auto;
		width: 1600px;
		height: 182px;
	}

	hr {
		width: 1425px;
		height: 1px;
		background-color: #F2F3EE;
		border: none;
	}

	.dropbtn {
		padding: 5px;
		cursor: pointer;
	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
		position: relative;
		display: inline-block;
	}

	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		width: 140px;
	}

	.dropbtn {
		padding-left: 25px;
		width: 40px;
	}

	.dropbtn::after {
		//	background: rgba(0, 0, 0, 0) url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-16.png") no-repeat scroll center center;
		content: "";
		height: 16px;
		position: absolute;
		right: 0;
		top: 7px;
		width: 16px;
	}

	/* Links inside the dropdown */
	.dropdown-content a {
		color: black;
		padding: 2px 0 2px 25px;
		text-decoration: none;
		display: block;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {
		background-color: #f1f1f1
	}

	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {
		display: block;
	}

	&_top-panel {
		width: 723px;
		display: flex;
		justify-content: space-between;
		margin-left: 514px;
	}

	&-contacts {
		width: 360px;
	}

	&_bottom-panel {
		display: flex;

		a {
			color: #FFFFFF;
		}
	}

	.search {
		width: 574px;
		height: 40px;

		&-btn {
			background-color: $red;
			border: none;
			color: #FFFFFF;
		}
	}

	.club {
		&-btn {
			background-color: $red;

		}
	}

	.menu {
		background-color: #EDEDED;
		width: 100%;
		height: 52px;
		font-family: "Roboto", sans-serif;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 14px;

		a {
			color: #464646;
		}

		&-list {
			margin: 0 auto;
			padding-top: 20px;
			width: 1326px;
			display: flex;
			justify-content: space-between;
		}

	}

}

.banner {
	width: 1920px;
	height: 779px;
	background-image: url(../img/banner_bg.png);
	font-family: "Roboto", sans-serif;

	&-text {
		

		&_1 {
			font-weight: 500;
			display: block;
			color: #666262;
			font-size: 18px;
			line-height: 23.5px;
		}

		&_2 {
			font-weight: 500;
			display: block;
			color: #1E1E1E;
			font-size: 18px;
			line-height: 23.5px;
		}

		&_3 {
			font-weight: 700;
			display: block;
			color: #757373;
			font-size: 36px;
			line-height: 45.5px;
			letter-spacing: 1%;
		}

		&_4{
			font-weight: 900;
			display: block;
			color: #757373;
			font-size: 72px;
			line-height: 88.5px;
		}

		&_5 {
			font-weight: 400;
			display: block;
			color: #1E1E1E;
			font-size: 20px;
			line-height: 33px;
		}

		&_6 {
			font-weight: 400;
			display: block;
			color: $red;
			font-size: 24px;
			line-height: 40px;
		}
	}
}